:root {

    --white : white;
    --black: black;
    --yellow: #ffd602;
    --red: #d5040a;
    --blue: #036cb6;

}

@keyframes loader {

    0% {
        opacity: 1;
        visibility: visible;
    }       
    95% {
        opacity: 1;
        visibility: visible;
    }   
    100% {
        opacity: 0;
        visibility: hidden;
    }   

}

@keyframes scaling {

    0%, 100% {
        transform: scale(0.2);
    }         
    50% {
        transform: scale(1);
    }   

}

@keyframes navbar {
    
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    } 

}

@keyframes main {
    
    0% {
        transform: translateY(-800px);
    }
    100% {
        transform: translateY(0px);
    } 

}


@keyframes side-title {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes side-img {
    
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0px);
    }

}

@keyframes footer {
  
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0px);
    }
    
}
 

body {

    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

    .page {

        position: relative;
        height: 100vh;
        width: 100%;

        .container {

            position: absolute;
            z-index: 2;
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-rows: 20% 50% 30%;
            grid-template-areas:    "nav        aside"
                                    "section    aside"
                                    "footer     aside";
            width: 100%;
            height: 100%;

            .navbar__content {

                grid-area: nav;
                display: flex;
                align-items: center;
                width: 100%;
                height: 150px;
                padding: 0 0 0 80px;
                animation: 2s navbar 0.5s ease-in-out;
                border-radius: 0px 0px 20px 0px;

                img {
                    
                    width: 50px;
                    object-fit: cover;

                }

                ul {

                    display: flex;
                    justify-content: space-evenly;
                    padding: 0;
                    width: 100%;
                    
                    li {

                        list-style: none;

                        a {

                            text-decoration: none;
                            color: var(--red);
                            font-weight: 300;

                        }

                    }

                }

            }

            .main__content {

                grid-area: section;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 80px;
                animation: 2s main 0.5s ease-in-out;

                p {

                    &:first-child {
                        font-size: 36px;
                        font-weight: 300;
                        margin: 0 0 -14px 50px;
                    }

                    &:last-child {
                        font-weight: 100;
                        margin: 0;
                        width: 60%;
                    }

                }

                h1 {

                    font-size: 48px;
                    font-weight: 700;
                    margin: 0px 0px 30px 0px;

                }

            }

            .side__content {

                display: grid;
                grid-template-columns: repeat(6, 1fr);
                align-items: center;
                grid-area: aside;

                p {

                    transform: rotate(-90deg);
                    font-size: 36px;
                    grid-row: 1 / 2;
                    grid-column: 1 / 2;
                    opacity: 0;
                    animation-name: side-title;
                    animation-duration: 0.5s;
                    animation-delay: 2.5s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;

                }

                img {

                    width: 100%;
                    grid-column: 2 / 6;
                    grid-row: 1 / 2;
                    animation: side-img 2s 0.5s ease-in-out;

                }

                div {

                    grid-column: 4 / 7;
                    grid-row: 1 / 2;
                    background: var(--yellow);
                    height: 100%;

                }

            }

            .footer__content {

                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                background: var(--yellow);
                border-radius: 0px 80px 0px 0px;
                transform: translateY(100%);
                animation-name: footer;
                animation-duration: 0.5s;
                animation-delay: 2.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;

                article {

                    background: var(--blue);
                    width: 130px;
                    height: 50%;
                    border-radius: 20px 20px 0px 0px;
                    display: flex;
                    justify-content: center;

                    img {

                        width: 160px;
                        position: absolute;
                        bottom: 30px;
                        transform: translateY(0px) scale(1);
                        transition: transform 0.5s ease-in-out;

                        &:hover {

                            cursor: pointer;
                            transform: translateY(-20px) scale(1.1);
                            transition: transform 0.3s ease-in-out;

                        }

                    }

                }

            }
    
        }
    
        .loader {
    
            position: absolute;
            background: var(--white) ;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            animation: loader 2s linear forwards;

            .loader__item {

                background: var(--yellow);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 10px;
                transform: scale(0);
                animation: scaling 2s ease-in-out infinite;

                &:nth-child(1) {
                    animation-delay: 0.2s;
                }

                &:nth-child(2) {
                    animation-delay: 0.4s;
                }

                &:nth-child(3) {
                    animation-delay: 0.6s;
                }

            }

        }
    
        .modal {

            width: 100%;
            height: 100%;
            background: rgba( 0, 0, 0, 0.5);
            z-index: 4;
            display: grid;
            place-items: center;

            .modal__content {

                position: relative;
                z-index: 4;
                width: 40%;
                height: 45%;
                background: var(--white);
                display: grid;
                place-items: center;

                .modal__content--close {

                    position: absolute;
                    right: 5px;
                    top: 5px;
                    cursor: pointer;

                }

                .modal__content--slider {

                    width: 300px;
                    height: 200px;
                    transform-style: preserve-3d;

                    input {

                        visibility: hidden;

                    }

                    .cards {

                        position: relative;
                        width: 100%;
                        height: 100%;

                        .card {

                            width: 50%;
                            height: 100%;
                            background: var(--yellow);
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            margin: 0 auto;
                            transition: transform 0.5s ease-in-out;
                            cursor: pointer;
                            display: grid;
                            place-items: center;

                            img {

                                width: 80%;
                                height: 80%;
                                object-fit: cover;

                            }

                        }

                    }

                    #radio-1:checked ~ .cards #card-1,
                    #radio-2:checked ~ .cards #card-2,
                    #radio-3:checked ~ .cards #card-3 {

                        transform: translateX(0) scale(1);
                        opacity: 1;
                        z-index: 1;

                    }

                    #radio-1:checked ~ .cards #card-2,
                    #radio-2:checked ~ .cards #card-3,
                    #radio-3:checked ~ .cards #card-1 {

                        transform: translateX(60%) scale(0.8);
                        opacity: 0.5;
                        z-index: 0;

                    }

                    #radio-1:checked ~ .cards #card-3,
                    #radio-2:checked ~ .cards #card-1,
                    #radio-3:checked ~ .cards #card-2 {

                        transform: translateX(-60%) scale(0.8);
                        opacity: 0.5;
                        z-index: 0;

                    }

                }

                .modal__content--button {

                    background: var(--red);
                    color: var(--white);
                    border: none;
                    font-size: 20px;
                    padding: 15px 50px;
                    cursor: pointer;

                }

            }

        }

        .hidden {

            display: none;

        }

        .visible  {

            display: grid;

        }
    
    }

}